.ca {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 500px;
  border-radius: 25px;
  background-color: #f5f5f5;
  color: #333;
  height: auto;
  font-family: 'Arial', sans-serif;
  padding-top: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.header1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #333;
}

.f1 {
  margin-left: 10px;
  color: #333;
}

.i1[type='text'],
.i1[type='password'],
textarea {
  margin-left: 10px;
  width: 95%;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #ccc;
}

.in {
  margin-left: 30px;
}

.b {
  margin-left: 15px;
  background-color: #3ed37c;
  width: 95%;
  height: 45px;
  border-radius: 10px;
  font-size: large;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-bottom: 40px;
  transition: background-color 0.3s ease;
}

.b:hover {
  background-color: #35c56d;
}

.errorMsg {
  margin-top: 10px;
  margin-left: 10px;
  color: #e74c3c;
}

.signin {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #3ed37c;
}

.lol {
  background-color: #f2f2f2;
  height: 100%;
  top: 0;
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .ca {
    margin-top: 50px;
    width: 90%;
  }
}